body {
    margin-top: 10vh;
}

.container {
    padding-top: 50px;
}

.img_div {
    position: relative;
}

.img_div .bookmark1{
    opacity: 1;
    display: inline-block;
}

.img_div:hover .image {
    opacity: 0.3; /* changes hover effect */
}

.bookmark1 {
    position: absolute;
    right: 3%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    display: none;
}

.img_div:hover .bookmark1{
    opacity: 1;
    display: inline-block;
}

/* Style buttons */
.btn {
    border: none;
}

/* Darker background on mouse-over */
.btn:hover {
    fill: blue;
}

.box {
    inline-size: 350px;
    word-break: break-word;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* nav bar css */
.navbar{
    padding: 20px 10px 20px 0px;
    background-color: #28a7e9;
    transition: all ease 0.4s;
}

.navbar-brand{
    font-size: 22px;
    color: white !important;
}

.navbar .navbar-nav li a{
    font-size: 16px;
    color: white;
}

.myBookmarks {
    background: none;
    color: white;
    border: none;
    padding:15px;
    font: inherit;
    cursor: pointer;
    font-size: 16px;
}

.myBookmarks:hover {
    color: #3a3062;
}

.myBookmarks:focus {
    outline: none;
}

.bookmark-div {
    display: flex;
}
/*popup*/
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}